calibrated_thresholds:
  min_contacts: 0
  min_interface_area: 0.0
  min_pdockq: 0.0
calibration:
  contacts_margin: 2
  interface_area_margin: 100
  pdockq_margin: 0.05
  positive_controls:
  - teplizumab
  - sp34
  - ucht1
design:
  affinity_variants:
  - wild_type
  - 10x_weaker
  - 100x_weaker
  num_scfv_designs: 200
  num_vhh_designs: 200
  starting_sequences:
  - teplizumab
  - sp34
  - ucht1
  target_structures:
  - data/targets/1XIW.pdb
  - data/targets/1SY6.pdb
epitope:
  okt3_epitope_residues: null
  overlap_threshold: 0.5
filtering:
  allow_deamidation_cdr: false
  allow_glycosylation_cdr: false
  allow_isomerization_cdr: false
  cdr_h3_length_range: !!python/tuple
  - 8
  - 20
  generate_back_mutations: true
  max_hydrophobic_patches: 2
  max_oxidation_sites: 2
  max_threshold_relaxation: 0.1
  min_candidates: 10
  min_contacts: 10
  min_interface_area: 800
  min_oasis_score: 0.8
  min_pdockq: 0.5
  net_charge_range: !!python/tuple
  - -2
  - 4
  pi_range: !!python/tuple
  - 6.0
  - 9.0
  relax_soft_filters_first: true
  use_calibrated: true
formatting:
  fc_fusion_linker: GGGGSGGGGS
  formats:
  - crossmab
  - fab_scfv
  - fab_vhh
  - igg_scfv
  - igg_vhh
  scfv_linker: GGGGSGGGGSGGGGS
  tumor_target: trastuzumab
output:
  generate_report: true
  include_provenance: true
  include_structures: true
  num_final_candidates: 10
  output_dir: data/outputs
reproducibility:
  boltzgen_seed: 42
  clustering_seed: 0
  sampling_seed: 12345
